**/.DS_Store

### remove log files
*.log
**/.idea/

### remove executable files
**/out/

# remove data files from device attributes populator
thingsboard/configuration/post_data.json
thingsboard/configuration/scheduler/rpc-data.json

# remove zip files
*.zip